/* Responsive styling for the button */
.text-center {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 1rem; /* Default font size */
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .btn {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .btn {
    font-size: 0.75rem; /* Further adjust font size for very small screens */
  }
}




.wrapper{
    width:200px;
    height:60px;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
  .circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #6b4af0;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
  }
  
  @keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
  }
  .circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
  }
  .circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
  }
  .shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
  }
  
  @keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
  }
  .shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
  }
  .shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
  }
  .gradientText {
    background: -webkit-linear-gradient(90deg, rgba(106,44,112,1) 13%, rgba(184,33,51,1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bgColor{
    background: -webkit-linear-gradient(90deg, rgba(106,44,112,1) 13%, rgba(184,33,51,1) 91%);
  }
  .wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left:15%;
  }